h1 {
    font-size: 150px;
    color: coral;
}

p {
    text-align: justify;
    text-indent: 50px;
    text-transform: capitalize;
    letter-spacing: 3px;
    word-spacing: 10px;
}

a {
    font-size: 23px;
    text-decoration: none;
}